
<p ALIGN=center>
    <img src="assets\imagenes\quienes_somos.JPG" alt="quienes_somos">
  </p>

  <p ALIGN=center>
    <img src="assets\imagenes\barra.jpg" alt="barra">
  </p>
  
  <p ALIGN="center" style="font-family: Arial; size: 4;"> Somos una organización de pequeños productores indígenas legalmente constituida </p>
  <p ALIGN="center" style="font-family: Arial; size: 4;">que se destacan por cultivar sus fincas en forma tradicional con especial cuidado por el medio ambiente, </p>
  <p ALIGN="center" style="font-family: Arial; size: 4;"> producimos el café de alta calidad orgánico Flo Seynekun certificada como orgánica desde el 2008 y </p>
    <p ALIGN="center" style="font-family: Arial; size: 4;">Comercio Justo desde el 2009.</p>
    <p ALIGN=center>
      <img src="assets\imagenes\barra.jpg" alt="barra">
    </p>

    
      
      <h3 ><span style="color: rgb(0, 182, 9);" >Nuestra Mision</span></h3>
        
        <p id="text" style="float:right;">
Somos una organización sostenible de pequeños productores que busca satisfacer necesidades de todos los asociados, a través de alternativas de producción ecológica y el desarrollo de la comunidad.
Asumimos el compromiso de promover, en todos nuestros programas y productos la sostenibilidad social, económica y ambiental.
</p>
<h3 aling="center"><span style="color:  rgb(0, 182, 9);" >Nuestra Visión</span></h3>

<p>
Queremos ser reconocidos como un a organización de productores indígenas, ecológicos que trabaja por el desarrollo de las comunidades, la autonomía alimentaria y la conservación de la Sierra Nevada de Santa Marta.
Consolidar un desarrollo productivo entorno al cultivo del café, que permita el mejoramiento de los ingresos y el bienestar de las familias asociadas.
      </p>
    
    <p ALIGN=center>
      <img src="assets\imagenes\barra.jpg" alt="barra">
    </p>
    <div class="contactenos">
      <h3 ><span name="contacto" style="color: black;">Contacto</span></h3>
      <div class="custom">
        <p><span style="font-size: 10pt; color: black;">Siempre estamos disponibles para usted!</span></p>
      <div><span style="color: black;"><strong>Dirección:</strong> CL 19B N° 7A-15 </span></div>
      <div><span style="color: black;">Valledupar, Colombia </span></div>
      <div><span style="color: black;"><strong>Teléfonos:</strong> +57 318 3987735 - +57 318 3623373</span></div>
      </div>
      </div>